<!doctype html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title>Home - Hub App</title>
    <link rel="stylesheet" href="/static/home.css"></link>
  </head>

  <body>

    <div id="container">
    <h1 id="title">Beauty Contest</h1>
    <button id="createHubBtn">Create New Hub</button>
    <br />
    <form id="joinHubForm">
      <input type="text" id="hubInput" name="hub" required placeholder="Enter Hub Hash to Join:" />
      <button id="hubSubmit" type="submit">Join Hub</button>
    </form>
    </div>

    <script src="/static/home.js"></script>
  </body>

</html>
